/*
        Author: Hafsah Khan
        Purpose: Design for possible website for Islamic Society
        of Lake Charles
        Last Updated: 2.26.23
*/
@charset "utf-8";

/* Media responsiveness */

/*
Navigation Bar
*/


.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*height: 90px;*/
  padding: 0 10px 0 10px;
  position: relative;
  top: 0;
  width: 100%;
}

.navBar a {
  margin-right: 80px;
}

.navBar-nav {
  display: flex;
}

.hidden {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropMenu {
  padding-bottom: 1%;
}

.dropdown:hover .hidden {
  display: block;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 0.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  height: 60px;
}

.toggle-button .bar {
  height: 10px;
  width: 100%;
  background-color: #0c5c12;
  border-radius: 10px;
}


@media only screen 
  and (max-device-width: 400px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .toggle-button {
      display: flex;
    }

    nav {
      width: 100%;
    }

    .navBar {
      /*height: 130px;*/
      flex-direction: column;
      align-items: flex-start;
    }

    .navbar-links {
      display: none;
      width: 100%;
    }

    header img {
      width: 20%;
      padding-bottom: 5%;
      position: relative;
      top: 2rem;
    }

    .navBar-nav {
      flex-direction: column;
      width: 100%;
    }

    .navBar-nav li {
      padding: 2rem;
      text-align: center;
      width: 100%;
    }
    
    .navBar a{
      font-size: 50px;
    }

    .navbar-links.active {
      display: flex;
    }

    .hidden {
      display: flex;
      flex-direction: column;
      animation: none;
      box-shadow: none;
      background-color: white;
      z-index: 0;
    }

    #dropTag1 {
      padding-bottom: 280px;
    }

    #dropTag2 {
      padding-bottom: 140px;
    }

    #youth {
      margin-left: 0;
      padding-top: 30px;
    }

    /*
    .subMenu1.active {
      padding-bottom:250px;
    }

    .hidden.active {
      display: flex;
    }
*/

  }

  

/*
Body
*/

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.bodySite {
  max-height: 100vh;
  margin-top: 20px;
}

.grid-container {
    display:grid;
    /*grid-template-columns: 33% 33% 33%;*/
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 700px 10px 700px 0px;*/
    grid-template-rows:auto 10px 800px 0px;
    grid-row-gap: 0px;
    height: fit-content;
}

.grid-item-4 {
    grid-column: 1 / 4;
}

.grid-item-5 {
    grid-column: 1 / -1;
    grid-row: 60px;
}

/*
.bodyMain {
  /*margin-top: 20px;
  display: flex;
  flex-direction: row;
  height: 700px;
  overflow-x: hidden;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
*/

body > footer {
  width: 100%;
  position: absolute;
  height: 40px;
  bottom: 0;
  /*height: fit-content;*/
}



/*
Body Prayer 1/3
*/

#Prayer {
    display:flex;
    flex-direction: column;
   /* padding-left: 8%; */
    margin-top: 0.5%;
    align-items: center;
}

#jammatTiming {
  margin-top: 8%;
  margin-bottom: 8%;
}

table {
  width: 250px;
}

/*
Donate box layout 
*/

#donateBox {
  /*width: 33%;*/
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10%;
}

.donateButton{
	width:300px;
	height:100px;
}

/*
Body - Slideshow 1/3
*/

.slideshow-container {
  margin: auto;
  margin-top: 10%;
  position: relative;
  width: 80%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}



/*
Second Body - Picture Gallery 
*/

.simple-gallery{
  width: 100%;
  overflow: hidden;
}

.simple-gallery--preview{
  width:67%;
  height: 100%;
  float: left;
  position: relative;
}

.simple-gallery--thumbs{
  width: 33%;
  height: 50%;
  float: left;
  position: relative;
}

@media screen and (max-width: 600px) {
  .bodySite {
    overflow: visible;
  }
  #secondBody {
    display: none;
  }
  .simple-gallery {
    display: none;
  }

  .simple-gallery--preview {
    display: none;
  }

  .simple-gallery--thumbs {
    display: none;
  }
}

.simple-gallery--preview img{
  width: 100%;
  height: 100%;
  display: block;
  z-index: -10;
}

.simple-gallery--thumbs img {
  width: 100%;
  height: 100%;
  display: block;
  z-index: -10;
}

.Bigwords {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Smallwords {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}


