@charset "utf-8";


body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

header img {
    width: 10%;
}
  
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #fff;
    color: #0c5c12;
    padding: 0 10px 0 10px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
.navBar a {
    color: #0c5c12;
    text-decoration: none;
    font-size: 18px;
    margin-right: 80px;
  }
 
.navBar-nav {
    display: flex;
  }


.nav-item {
    list-style: none;
  }

.sub-nav-item {
    list-style: none;
    height: 40px;
}


.menu1:hover .hidden {
    display:flex;
    background-color: #d6d6d6;
    flex-direction: column;
    position: absolute;
    top: 90px;
    padding-top: 0;
}

.menu2:hover .hidden {
    display:flex;
    background-color: #d6d6d6;
    flex-direction: column;
    position: absolute;
    top: 90px;
    padding-top: 0;
}


.hidden {
    display:none;
}

/*#Prayer h2 {
    font-size: 2em;
    text-align: center;
}
*/
#Prayer {
    display:flex;
    flex-direction: column;
    padding-left: 8%;
    margin-top: 2%;
}

body > footer {
    width: 100%;
    clear: both;
    position: relative;
    bottom: 0;
    /*height: fit-content;*/
  }

.bodySite {
  min-height: 100vh;
  margin-top: 20px;
}
.bodyMain {
    /*margin-top: 20px;*/
    display: flex;
    flex-direction: row;
    height: 700px;
    overflow-x: hidden;
}

#donateBox {
  display: flex;
  position: relative;
  margin-left: 10%;
}

* {
	box-sizing: border-box
}

.mySlides {
	display: none
}

.slideshow-container {
	width: 30%;
  position: relative;
  margin: auto;

}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #494B55;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.numbertext {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: left;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.pics
{
    border:3px solid #494B55;
    width:100%;
}

#jammatTiming {
  margin-top: 8%;
  margin-bottom: 8%;
}

.simple-gallery{
  width: 100%;
  overflow: hidden;
}
.simple-gallery--preview{
  width:67%;
  height: 100%;
  float: left;
  border: 1px black solid;
  position: relative;
}

.simple-gallery--thumbs{
  width: 33%;
  height: 50%;
  float: left;
  border: 1px black solid;
  position: relative;
}

.simple-gallery--preview img{
  width: 100%;
  height: 100%;
  display: block;
  z-index: -10;
}

.simple-gallery--thumbs img {
  width: 100%;
  height: 100%;
  display: block;
  z-index: -10;
}

.Bigwords {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Smallwords {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}


