@charset "utf-8";


html{
    background-color:#0c5c12;
}

nav a{
    font-family: Poppins;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40%;
}

.sub-nav-item{
    text-decoration: underline;
    text-decoration-color: black;
}

.bodyMain {
    background-color: white;
    border: 0.5px grey solid;
}

h3 {
    font-family:Poppins;
    color: #0c5c12;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
}


body > footer p {
    color: white;
    font-family: Poppins;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }

#donateBox {
    width: 33%;
    height: 100%;
    color: #59c362cd;
    border: 1px solid #59c362cd ;
    background-color: #59c36270;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10%;
}

.donateButton{
	width:300px;
	height:100px;
	border:none;
	color:white;
	background-color:rgb(4, 86, 32);
	border-radius:10px;
	/*box-shadow:inset 0 0 0 0 #abdbe3;*/
	transition:ease-out 0.3s;
	font-size:1.5rem;
	outline:none;
}
.donateButton:hover{
	box-shadow:inset 300px 0 0 0 #ffffff;
    color: #000;
}

table, td, th {
    border: 1px black solid;
}

td, th {
    padding: 1%;
}

th {
    background-color: #303642;
    color: white;
}
table {
    border-collapse: collapse;
    width: 100%;
}

.time {
    text-align: center;
}

.simple-gallery--thumbs .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    z-index: 1;
}

.simple-gallery--preview .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    z-index: 1;
}

.simple-gallery--preview:hover .overlay {
    opacity: 0.3;
    background-color: black;
}

.simple-gallery--thumbs:hover .overlay {
    opacity: 0.25;
    background-color: black;
}

.Bigwords {
    font-family: Poppins;
    color: white;
    font-size: 4em;
    text-transform: uppercase;
}

.Smallwords {
    font-family: Poppins;
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
}

