/*
        Author: Hafsah Khan
        Purpose: Design for possible website for Islamic Society
        of Lake Charles
        Last Updated: 2.26.23
*/
@charset "utf-8";

/* Media responsiveness */

/*
Navigation Bar
*/

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 10px 0 10px;
  position: relative;
  top: 0;
  width: 100%;
}

.navBar a {
  margin-right: 80px;
}

.navBar-nav {
  display: flex;
}


.hidden {
  display:none;
  position: absolute;
  z-index: 1;
  top: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropMenu {
  padding-bottom: 1%;
}

.dropdown:hover .hidden {
  display: block;
}

/*
Body
*/

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.bodySite {
  max-height: 100vh;
  margin-top: 20px;
}

.bodyMain {
  /*margin-top: 20px;*/
  display: flex;
  flex-direction: row;
  height: 700px;
  overflow-x: hidden;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body > footer {
  width: 100%;
  clear: both;
  position: absolute;
  height: 40px;
  bottom: 0;
  /*height: fit-content;*/
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*
Body Prayer 1/3
*/

#Prayer {
    display:flex;
    flex-direction: column;
   /* padding-left: 8%;*/
    margin-top: 0.5%;
    align-items: center;
}

#jammatTiming {
  margin-top: 8%;
  margin-bottom: 8%;
}

table {
  width: 250px;
}

/*
Donate box layout 
*/

#donateBox {
  /*width: 33%;*/
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10%;
}

.donateButton{
	width:300px;
	height:100px;
}

/*
Body - Slideshow 1/3
*/

.slideshow-container {
  margin: auto;
  margin-top: 10%;
  position: relative;
  width: 80%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}



/*
Second Body - Picture Gallery 
*/

.simple-gallery{
  width: 100%;
  overflow: hidden;
}

.simple-gallery--preview{
  width:67%;
  height: 100%;
  float: left;
  position: relative;
}

.simple-gallery--thumbs{
  width: 33%;
  height: 50%;
  float: left;
  position: relative;
}

@media screen and (max-width: 600px) {
  .bodySite {
    overflow: visible;
  }
  #secondBody {
    display: none;
  }
  .simple-gallery {
    display: none;
  }

  .simple-gallery--preview {
    display: none;
  }

  .simple-gallery--thumbs {
    display: none;
  }
}

.simple-gallery--preview img{
  width: 100%;
  height: 100%;
  display: block;
  z-index: -10;
}

.simple-gallery--thumbs img {
  width: 100%;
  height: 100%;
  display: block;
  z-index: -10;
}

.Bigwords {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Smallwords {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}


