@charset "utf-8";

*{
	box-sizing: border-box
}

html{
    background-color:#0c5c12;
}

/*Navigation Bar
*/

header img {
  width: 10%;
}

.navBar {
  background-color: #fff;
  color: #0c5c12;
}

.navBar a {
  font-family: Poppins;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0c5c12;
}

.hidden {
  background-color: #f9f9f9;
  box-shadow: 0px 3px 8px #0c5c12;
}

.hidden a {
  color:#0c5c12;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.nav-item {
  list-style: none;
}

.sub-nav-item{
  text-decoration: underline;
  text-decoration-color: black;
  list-style: none;
  padding-top: 5px;
  border: 2px black solid;
}


/*Body*/

.bodyMain {
    background-color: white;
    border: 0.5px grey solid;
}

/*Body - Prayer 1/3*/

h2 {
    font-family:Poppins;
    color: #0c5c12;
    text-transform: uppercase;
    font-size: xx-large;
    text-align: center;
}

table, td, th {
    border: 1px black solid;
}

td, th {
    padding: 1%;
}

th {
    background-color: #303642;
    color: white;
}
table {
    border-collapse: collapse;
}

.time {
    text-align: center;
}

body > footer p {
    color: white;
    font-family: Poppins;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }

  
/* Body - Donate section 1/3*/
#donateBox {
    color: #59c362cd;
    border: 1px solid #59c362cd ;
    background-color: #59c36270;
    box-shadow: 5px 0 15px -4px rgb(12, 92, 18), -5px 0 8px -4px rgb(12, 92, 18);
}

.donateButton{
	border:none;
	color:white;
	background-color:rgb(4, 86, 32);
	border-radius:10px;
	/*box-shadow:inset 0 0 0 0 #abdbe3;*/
	transition:ease-out 0.3s;
	font-size:1.5rem;
	outline:none;
}

.donateButton:hover{
	box-shadow:inset 300px 0 0 0 #ffffff;
    color: #000;
}

/*
Body - Slideshow 
*/
  
.mySlides {
    display: none
}

.pics
{
  border:3px solid #494B55;
  width:100%;
}

/* Next & previous buttons */
.prev, .next {
    color: #494B55;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Number text */
.numbertext {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: left;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

/*
Second Body - Picture Gallery
*/

.simple-gallery--preview{
    border: 1px black solid;
}
  
.simple-gallery--thumbs{
    border: 1px black solid;
}

.simple-gallery--thumbs .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    z-index: 1;
}

.simple-gallery--preview .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    z-index: 1;
}

.simple-gallery--preview:hover .overlay {
    opacity: 0.3;
    background-color: black;
}

.simple-gallery--thumbs:hover .overlay {
    opacity: 0.25;
    background-color: black;
}

.Bigwords {
    font-family: Poppins;
    color: white;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.Smallwords {
    font-family: Poppins;
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.6);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: grey;
}

